{{#extend "templates/layouts/layout"}}

    <!-- JAVASCRIPT -->
    {{#content "scriptsBody" mode="append"}}
        <div class="site">
            TypeScript Boilerplate
        </div>
    {{/content}}

{{/extend}}
